@use "./reset";

.app-container {
  padding: 16px;
}

.search-container,
.el-card.search-container {
  padding: 18px 18px 0;
  margin-bottom: 16px;
  background-color: var(--el-bg-color-overlay);
  border: 1px solid var(--el-border-color-light);
  border-radius: 8px;
  box-shadow: var(--el-box-shadow-light);

  --el-card-border-radius: 8px;
  --el-card-padding: 18px;
}

.table-container,
.el-card.table-container {
  border-radius: 8px;

  --el-card-border-radius: 8px;
}

.table-container > .el-card__header {
  padding: calc(var(--el-card-padding) - 8px) var(--el-card-padding);
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32 160 255);
  }
}
