.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f7fa;

  .welcome-text {
    font-size: 36rpx;
    color: #333;
    text-align: center;
  }
}