.navbar {
  display: flex;
  align-items: center;
  height: 44px;
  padding: 0 16px;
  background: #fff;
  box-shadow: 0 1px 4px rgb(0 0 0 / 4%);

  .nav-back {
    padding: 8px;
    margin-left: -8px;
  }

  .nav-title {
    flex: 1;
    margin-right: 28px;
    font-size: 17px;
    font-weight: 600;
    color: #1f2937;
    text-align: center;
  }
}
