.navbar {
  display: flex;
  align-items: center;
  height: 88rpx;
  padding: 0 32rpx;
  background: #fff;
  box-shadow: 0 2rpx 8rpx rgb(0 0 0 / 4%);

  .nav-back {
    padding: 16rpx;
    margin-left: -16rpx;
  }

  .nav-title {
    flex: 1;
    margin-right: 56rpx;
    font-size: 34rpx;
    font-weight: 600;
    color: #1f2937;
    text-align: center;
  }
}
