@use "@/styles/variables" as *;

.navbar-left {
  display: flex;
  align-items: center;

  .ant-breadcrumb {
    padding-left: 5px;
  }
}

.menu-status-icon {
  padding: 13px;
  font-size: 18px;
  cursor: pointer;
  background-color: transparent;

  &:hover {
    background-color: rgb(0 0 0 / 7%);
  }
}

.ant-drawer .ant-drawer-header {
  border-bottom: none;
}

.ant-drawer .ant-drawer-body {
  padding: 8px 45px;
}

.settings-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--ant-color-text);

  .active {
    font-size: large;
    color: var(--ant-color-primary);
  }
}

.settings-item {
  display: inline-block;
  min-width: 40px;
  height: $navbar-height;
  line-height: $navbar-height;
  color: var(--el-text-color);
  text-align: center;
  cursor: pointer;

  &:hover {
    background: rgb(0 0 0 / 10%);
  }
}

.settings-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 3rem; /* 48px */

  .active {
    border: var(--ant-color-primary) solid 3px;
  }
}

.layout-item {
  position: relative;
  width: 18%;
  height: 45px;
  overflow: hidden;
  cursor: pointer;
  background: #f0f2f5;
  border-radius: 4px;

  &.mix div:nth-child(1),
  &.top div:nth-child(1) {
    width: 100%;
    height: 30%;
    background: #1b2a47;
    box-shadow: 0 0 1px #888;
  }

  &.mix div:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 70%;
    background: #1b2a47;
    box-shadow: 0 0 1px #888;
  }

  &.left div:nth-child(1) {
    width: 30%;
    height: 100%;
    background: #1b2a47;
  }

  &.left div:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 30%;
    background: #fff;
    box-shadow: 0 0 1px #888;
  }
}

.layout-item.is-active {
  border: 2px solid var(--el-color-primary);
}
